 <img src='~/img/logo.png' alt="VOT Logo" height="165px" width="165px" class="logo">
  <ul class="nav nav-tabs" class="nav">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/vendor">View Vendors</a></li>
    <li role="presentation"><a href='/vendor/new'>Add a Vendor</a></li>
  </ul>