<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

<h1>Add a new item to @Model.Name</h1>

<form action="/categories/@Model.Id/items" method="post">
  <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">
  <label for="itemDescription">Item Description</label>
  <input id="itemDescription" name="itemDescription" type="text">
  <button type='submit'>Add Item</button>
</form>

@* We list the Category we're adding an Item to above the form.

We've updated the form's action attribute to /categories/@Model.Id/items so it follows RESTful standards. This means we'll have to update the Create() route that processes this form's submissions, which we'll do soon.

We've added a new input to our form, too: <input id='categoryId' name='categoryId' type='hidden' value='@Model["category"].Id'>. This will pass the Category ID alongside the user's form input to the Create() route that processes this form's submission. However, since its input type is hidden, it won't display anything to the user. *@